@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
	background: goldenrod;
	color: #2a2a2a;
	font-family: Roboto, sans-serif;
}


/* Main Heading */

.heading {
	text-align: center;
	justify-content: space-between;
	margin-bottom: 100px;
}

.note {
	margin: 5em 0 2em;
	text-align: center;
}


/* Rock Paper and Scissor Images  */

.images {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.computer img,
.player img {
	width: 75%;
}


/* Animation of Images  */

.shakeComputer {
	animation: shakeComputer 0.7s linear;
}

.shakePlayer {
	animation: shakePlayer 0.7s linear;
}


/* Scoreboard */

.points {
	margin: 2em 0;
	text-align: center;
}

.computer-score {
	margin-left: 3em;
}

.player-score {
	margin-right: 3em;
}


/* Option selection */

.options,
#reset {
	margin-top: 5em;
	display: flex;
	justify-content: space-around;
}

.options button {
	background: none;
	color: #2a2a2a;
	border: 1px solid #fafafa;
	padding: 1em 2em;
	border-radius: 7px;
	width: 150px;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	transition: 0.2s all linear;
}


/* Animation on images */

.options button:hover {
	background-color: #fafafa;
}

@keyframes shakeComputer {
	0% {
		transform: rotate(-30deg);
	}
	25% {
		transform: rotate(30deg);
	}
	50% {
		transform: rotate(-30deg);
	}
	75% {
		transform: rotate(30deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes shakePlayer {
	0% {
		transform: rotate(-30deg);
	}
	25% {
		transform: rotate(30deg);
	}
	50% {
		transform: rotate(-30deg);
	}
	75% {
		transform: rotate(30deg);
	}
	100% {
		transform: rotate(0deg);
	}
}